.skill{
  margin-top: 2.8rem;
}
.skill_heading{
  position: relative;
  z-index: 1000;
  font-size: 2rem;
}
.skill_heading::before{
  content: '';
  position: absolute;
  z-index: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: translate(-20%,-40%);
  background: rgba(4, 71, 255, 0.288);
}
.skill_heading::after{
  content: "";
  position: absolute;
    display: block;
    height: 4px;
    border-radius: 12px;
    width: 200px;
    background-color: rgba(4, 71, 255, 0.288);
    transform: translate(40%,0%);
}

.skill_heading p{
  color: rgb(0, 0, 0);
  z-index: 99999;
}

.skill_area{
  margin-top: 4rem;
}
.skill_row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}