.work_card{
  position: relative;
  display: block;
  height: 272px;
  width: 320px;
  border-radius: 12px;
  border: 2px solid rgb(0, 46, 130);
  margin-left: 1.2rem;
  margin-bottom: 8px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.work_card_upper{
  width: inherit;
  height: 32%;
  background: rgba(28, 89, 255, 0.24);
  overflow: hidden;
  clip-path: circle(266px at 40% -38%);
  transition: 0.5s ease-in-out;
}
.work_card_upper .work_card_title{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: start;
}
.work_card_title_item{
  padding: 0 8px;
}
.work_card_title_item .icon{
  font-size: 1.6rem;
}
.work_card_title_item p{
  font-size: 1.2rem;
  display: inline-block;
}

.work_card_upper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 1, 207, 0.438);
  z-index: -4;
  clip-path: circle(166px at 5% -38%);
  transition: 0.5s ease-in-out;
}
.work_card_upper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 6, 253, 0.363);
  z-index: -4;
  clip-path: circle(166px at 15% -34%);
  transition: 0.5s ease-in-out;
}
.work_card_lower{
  padding: 8px 14px;
}
.work_card_lower .description{
  font-size: 0.9rem;
  z-index: 10000;
}
.tag_row{
  margin-top: 1.01rem;
  display: flex;
  flex-wrap: wrap;
}
.tag{
  display: inline-block;
  background: rgba(196, 223, 255, 0.521);
  font-size: 0.9rem;
  padding: 2px 8px;
  margin: 2px 2px;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.856);
  z-index: 8888;
}
.action_row{
  margin-top: 3rem;
  display: flex;
  z-index: 20000;
  justify-content: start;
}
.action_row_item{
  padding: 2px 6px;
  font-size: 1.2rem;
}

.work_card:hover > .work_card_upper::before{
  clip-path: circle(264px at 28% 48%);
}
.work_card:hover > .work_card_upper::after{
  clip-path: circle(180px at 10% 10%);
}
.work_card:hover > .work_card_upper{
  background-color: white;
  color: white;
}
.work_card:hover > .work_card_lower{
  color: black;
  z-index: 1000;
}
.work_card:hover > .tag{
  background: rgba(233, 243, 255, 0.521);
}
.work_card:hover{
  transform: translateY(-2%);
  box-shadow: 1px 18px 20px #eee;
  cursor: pointer;
}